body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  font-size: 18px;
  color: #fff;
  margin: 0;

  @include desktop {
  font-size: 16px;
  }

  @include desktop1920 {
    font-size: 21px;
    }
}