<section class="advantages container">
  <ul class="advantages__list">
    <li class="advantages__item">
      <p class="advantages__number">30+</p>
      <p class="advantages__text">
        разнообразных под-категорий с товарами на любой вкус
      </p>
    </li>
    <li class="advantages__item">
      <p class="advantages__number">500+</p>
      <p class="advantages__text">позиций качественных товаров с Германии</p>
    </li>
    <li class="advantages__item">
      <p class="advantages__number">2 недели</p>
      <p class="advantages__text">
        гарантии на проверку и на соотвецтвие заявленому описанию
      </p>
    </li>
  </ul>
</section>
