<section class="container">
  <div class="category__top">
    <h2 class="category__title">Каталог товаров</h2>
    <div class="category__nav">
      <h3 class="category__name">Электроника</h3>
      <button type="button">
        <svg class="category__arrow">
          <use href="./images/symbol.svg#icon-arrow_left"></use>
        </svg>
      </button>
      <button type="button">
        <svg class="category__arrow">
          <use href="./images/symbol.svg#icon-arrow_right"></use>
        </svg>
      </button>
    </div>
  </div>
  <ul class="category__list">
    <div class="category__block1">
      <li class="category__item1">
        <a href="/" class="category__link">
          <span class="category__number">01</span>
          <p class="category__text">техника для дома</p>
        </a>
      </li>
      <li class="category__item2">
        <a href="/" class="category__link">
          <span class="category__number">02</span>
          <p class="category__text">техника для кухни</p>
        </a href="/">
      </li>
      <li class="category__item3">
        <a href="/" class="category__link">
          <span class="category__number">03</span>
          <p class="category__text">аудиотехника</p>
        </a>
      </li>
    </div>
    <li class="category__item4">
      <a  href="/" class="category__link">
        <span class="category__number">04</span>
        <p class="category__text">
          холодильники, винные холодильники, льдогенераторы
        </p>
      </a>
    </li>
    <div class="category__block3">
        <li class="category__item5">
      <a  href="/" class="category__link">
        <span class="category__number">05</span>
          <p class="category__text">климатическое оборудование</p>
      </a>
    </li>
        <li class="category__item6" >
      <a  href="/" class="category__link">
        <span class="category__number">06</span>
          <p class="category__text">другое</p>
      </a>
    </li>
    </div>
  </ul>
</section>
