<header>
  <div class="header__box">
    <a href="/"><img class="logo" src="./images/logo-min.png" alt="logo" /></a>
    <div class="navigation">
      <nav>
        <ul>
          <li>
            <p>Доставка</p>
          </li>
          <li>
            <p>Контакты</p>
          </li>
          <li>
            <p>Бонусная программа</p>
          </li>
        </ul>
        <a class="contacts__link" href="tel:+380 95 935 1423"
          >+380 95 935 1423</a
        >
      </nav>
      <div>
        <form class="header__form">
          <label class="form__label" for="searchQuery"></label>
          <input
            class="form__input"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Искать..."
            id="searchQuery"
            required
          />
          <button type="submit" class="form__btn">
            <svg class="form__icon" width="12" height="12">
              <use href="../src/images/symbol.svg#icon-dandruff"></use>
            </svg>
          </button>
        </form>
        <ul>
          <li>
            <a href="" target="_blank" rel="noopener noreferrer nofollow">
              <svg width="28" height="28">
                <use href="./images/symbol.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" target="_blank" rel="noopener noreferrer nofollow">
              <svg width="28" height="28">
                <use href="./images/symbol.svg#icon-viber"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" target="_blank" rel="noopener noreferrer nofollow">
              <svg width="28" height="28">
                <use href="./images/symbol.svg#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <nav>
        <ul>
          <li>
            <p>
              Все категории<svg width="24" height="24">
                <use href="./images/symbol.svg#icon-category"></use>
              </svg>
            </p>
          </li>
          <li>
            <p>Электроника</p>
          </li>
          <li>
            <p>Дом и Сад</p>
          </li>
          <li>
            <p>Детский мир</p>
          </li>
          <li>
            <p>Отдых, спорт, хобби</p>
          </li>
          <li>
            <p>Авто</p>
          </li>
          <li>
            <p>Информация</p>
          </li>
          <li></li>
        </ul>
      </nav>
    </div>
    <div  class="button__box">
      <button type="button">
        <svg width="26" height="26">
          <use href="./images/symbol.svg#icon-basket"></use>
        </svg>
      </button>
      <button type="button" class="menu-open" data-menu-open>
        <svg width="24" height="24">
          <use href="./images/symbol.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="menu visually-hidden" data-menu>
    <div class="mob-menu">
      <div>
        <button type="button">
          <svg width="26" height="26">
            <use href="./images/symbol.svg#icon-basket"></use>
          </svg>
        </button>
        <button type="button" data-menu-close>
          <svg width="24" height="24">
            <use href="./images/symbol.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <nav>
        <ul>
          <li>
            <p>
              Электроника
              <svg width="8" height="12">
                <use href="./images/symbol.svg#icon-arrow_down"></use>
              </svg>
            </p>
          </li>
          <li>
            <p>
              Дом и Сад
              <svg width="8" height="12">
                <use href="./images/symbol.svg#icon-arrow_down"></use>
              </svg>
            </p>
          </li>
          <li>
            <p>
              Детский мир
              <svg width="8" height="12">
                <use href="./images/symbol.svg#icon-arrow_down"></use>
              </svg>
            </p>
          </li>
          <li>
            <p>
              Отдых, спорт, хобби
              <svg width="8" height="12">
                <use href="./images/symbol.svg#icon-arrow_down"></use>
              </svg>
            </p>
          </li>
          <li>
            <p>Авто</p>
          </li>
          <li>
            <p>Информация</p>
          </li>
          <li>
            <p>Доставка</p>
          </li>
          <li>
            <p>Контакты</p>
          </li>
          <li>
            <p>Бонусная программа</p>
          </li>
        </ul>
        <ul>
          <li>
            <a href="" target="_blank" rel="noopener noreferrer nofollow">
              <svg width="28" height="28">
                <use href="./images/symbol.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" target="_blank" rel="noopener noreferrer nofollow">
              <svg width="28" height="28">
                <use href="./images/symbol.svg#icon-viber"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" target="_blank" rel="noopener noreferrer nofollow">
              <svg width="28" height="28">
                <use href="./images/symbol.svg#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a class="contacts__link" href="tel:+380 95 935 1423"
          >+380 95 935 1423</a
        >
      </nav>
    </div>
  </div>
</header>
