<section class="hero">
  <div class="hero__main">
    <h1 class="hero__title">Помогаем людям обустроить Быт!</h1>
    <p class="hero__text">
      <span class="hero__span">Присоединяйся к нашей большой семье!<br /> </span
      >Подпишись на новости о акциях и спец предложениях и получи
      <span class="hero__span">скидку 5 %</span> уже сейчас!
    </p>
    <button type="button" class="hero__button">Подписатся</button>
    <picture class="hero__image">
      <source
        srcset="
          ./images/hero1px-1920-min.png 1x,
          ./images/hero2px-1920-min.png 2x
        "
        media="(min-width: 1920px)"
      />

      <source
        srcset="
          ./images/hero1px-1280-min.png 1x,
          ./images/hero2px-1280-min.png 2x
        "
        media="(min-width: 1280px)"
      />

      <source
        srcset="
          ./images/hero1px-320-min.png 1x,
          ./images/hero2px-320-min.png 2x
        "
        media="(max-width: 1279px)"
      />

      <img src="./images/hero1px-320-min.png" alt="woman" />
    </picture>
  </div>
  <div class="hero__aside">
    <div class="timer">
      <div class="timer__field">
        <span class="timer__value" data-hours>00</span>
        <span class="timer__label">часов</span>
      </div>
      <span class="timer__dot">:</span>
      <div class="timer__field">
        <span class="timer__value" data-minutes>00</span>
        <span class="timer__label">минут</span>
      </div>
      <span class="timer__dot">:</span>
      <div class="timer__field">
        <span class="timer__value" data-seconds>00</span>
        <span class="timer__label">секунд</span>
      </div>
    </div>
    <div class="aside__message">
      <p class="aside__text">До конца скидки на все холодильники</p>
      <p class="aside__discount">- 20 %</p>
    </div>
    <button type="button" class="aside__button">К холодильникам</button>
  </div>
</section>
