<section class="hero">
  <div>
    <h1>Помогаем людям обустроить Быт!</h1>
    <p>Присоединяйся к нашей большой семье!</p>
    <p>
      Подпишись на новости о акциях и спец предложениях и получи скидку 5 % уже
      сейчас!
    </p>
    <button>Подписатся</button>
  </div>
  <div class="hero__aside">
    <div class="timer">
      <div class="timer__field">
        <span class="timer__value" data-hours>00</span>
        <span class="timer__label">часов</span>
      </div>
      <span class="timer__dot">:</span>
      <div class="timer__field">
        <span class="timer__value" data-minutes>00</span>
        <span class="timer__label">минут</span>
      </div>
      <span class="timer__dot">:</span>
      <div class="timer__field">
        <span class="timer__value" data-seconds>00</span>
        <span class="timer__label">секунд</span>
      </div>
    </div>
    <div class="aside__message">
      <p class="aside__text">До конца скидки на все холодильники</p>
      <p class="aside__discount">- 20 %</p>
    </div>
    <button type="button" class="aside__button">К холодильникам</button>
  </div>
</section>
