.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 19px;

  @include desktop {
    width: 1280px;
    padding: 0 65px;
  }

  @include desktop1920 {
    width: 1920px;
    padding: 0 144px;
  }
}
