header {
  width: 320px;
  height: 66px;
  padding: 13px 19px;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
width: 89px;
height: 40px;
}

.navigation {
  display: none;

  @include desktop {
    display: flex;
  }
}

.menu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: auto;
  top: 0;
  right: 0;

  background-color: #7170c4;

  @include desktop {
    display: none;
  }
}
