.navigation {
  display: none;

  @include desktop {
    display: flex;
  }
}

.menu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: auto;
  top: 0;
  right: 0;

  background-color: #7170c4;

  @include desktop {
    display: none;
  }
}
